.container {
    min-height: 100vh;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.query {
    font-size: 1.2rem;
    font-weight: 700;
    color: teal;
    padding: 1rem;
    width: fit-content;
    border: 1px solid #1abc9c;
    border-radius: 30px;
}

.home {
    background-color: #1abc9c;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 5px 7.5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    width: fit-content;
}

.home:hover,
.home:active,
.home:focus {
    background-color: teal;
}

@media only screen and (max-width: 500px) {
    .home {
        font-size: 1.2rem;
    }
    .query {
        font-size: 1rem;
    }
}