/* Tag.module.css */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.home {
    background-color: #1abc9c;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    display: inline;
    padding: 5px 7.5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.home:hover,
.home:active,
.home:focus {
    background-color: teal;
}

.header {
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: white;
}

@media only screen and (max-width: 500px) {
    .header {
        display: inline;
    }
    .home {
        font-size: 1.2rem;
    }
}